body {
		background-color: 	#326497;
}

nav a {  background-color: #779977;
	 color: #333399;
	 border-color: #333333;
	 border: 1px;
	 font-weight: bold;
	 margin: 5px 1px;
	 padding: 2px;
	 text-decoration: none;
	 border-style: solid;
}
nav a:hover {
		background-color: #447799;
}
header {
	background-image: url(thumbnail.png);
		background-repeat: no-repeat;
		background-position: right;
	background-color: #999999;
	margin: auto;
	width: 1000px;
	height: 60px;
	padding-left: 200px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #828282;
}
nav {
		padding-left: 290px;
	margin-top: 10px;
		
}
canvas {
	cursor: none;
	margin: auto;
	margin-top: 20px;
    display: block;
}
#mTextArea {   margin: auto;
    display: block;
	padding-top: 10px;
	border-radius: 15px;
	text-align: center;
}
footer {	background-color: #333333;
		padding-left: 100px;
		margin-left: 125px;
		margin-top: 50px;
		height: 25px;
		width: 550px;
		background-image: url(thumbnail.png);
		background-repeat: no-repeat;
		background-position: left;
		border-radius: 15px;
	box-shadow: 5px 5px 5px #555555;
}
